/* Remove line clamp limitation for post summaries */
.home[data-home=posts] .summary .content {
    display: block !important;
    -webkit-line-clamp: unset !important;
    -webkit-box-orient: unset !important;
    overflow: visible !important;
    text-overflow: unset !important;
}

.flex-container-left {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    align-items: center;
    height: 240px;
}


.flex-container-right {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    align-items: center;
    height: 240px;
    flex-direction: row-reverse
}

.col-3 {
    width: 60%;
    text-align: justify;
}

.portrait-image {
    height: 230px !important;
}

/* Callout box */
.callout {
  position: relative;
  top: 20px;
  bottom: 50px;
//   right: 20px;
//   margin-left: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  max-width: 600px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #f5e890;
  color: $global-font-color;
}

/* Impressum */
.impressum-box {
  width: 70%; 
  padding: 15px;
  color: $global-font-color;
  justify-self: center;
}


@media screen and (max-width: 900px) {
    .flex-item {
        width: 100%;
        height: auto;
        align-self: center;
    }

    .col-3 {
        width: 100%;
    }

    .flex-container-right,
    .flex-container-left {
        flex-direction: column;
        align-items: unset;
        height: max-content;
    }

    .portrait-image {
        height: auto !important;
    }

    .impressum-box {
        width: 100%;
    }
}
