<div>
    <div style="padding: 30px;"></div>
    <div class="impressum-box">
        <p style="text-align: left;font-weight: bold; padding-bottom: 20px;">{{ with .Get "company" }}{{ . }}{{ end }}</p>
        <p style="text-align: left;">{{ with .Get "address_name" }}{{ . }}{{ end }}</p>
        <p style="text-align: left;">{{ with .Get "address_street" }}{{ . }}{{ end }}</p>
        <p style="text-align: left;">{{ with .Get "address_city" }}{{ . }}{{ end }}</p>
        <p style="padding: 20px;"></p>
        <p style="text-align: left;">Gründungsmitglieder: {{ with .Get "members" }}{{ . }}{{ end }}</p>
        <p style="text-align: left;">E-Mail: {{ with .Get "email" }}{{ . }}{{ end }}</p>
        <p style="text-align: left;">Inhaltlich Verantwortlicher: {{ with .Get "responsible" }}{{ . }}{{ end }}</p>
    </div>
</div>